doctype html
html(lang="en")
  head
    title= "Task List"
    link(rel="stylesheet", href="/style.css")
  body
    h1 All Tasks
    
    a(href="/tasks/add") Add New Task
    
    ul
      each task in tasks
        li
          a(href="/tasks/" + task._id)= task.title 
          | (#{task.completed ? 'Completed' : 'Not Completed'})
      else
        li No tasks found