
.appContainer {
  border: darkblue 1px solid;
  padding: 1em;
  margin: 1em;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
}

.taskContainer {
  background-color: lightblue;
  padding: 1em;
  margin: 1em;
}

.taskTitleStauts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  margin: 20px 0;
  display:flex;
}

.form-control label {
  margin-right: 10px;
}