html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1; 
    padding: 10;
    margin: 10;
}

header {
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #007bff;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    width: 100%; 
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #f39c12;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin: 0 5px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

body {
    background-image: url('../images/background.jpg'); /* Specifies the background image */
    background-size: cover;          /* Ensures the image covers the entire page */
    background-position: center;     /* Centers the image */
    background-repeat: no-repeat;    /* Prevents the image from repeating */
    margin: 0;                       /* Removes default margin */
    padding: 0;                      /* Removes default padding */
}