* {
    box-sizing: border-box;
}

/* 
Make the html and body elements fill the entire window height and set up a flexbox container.
This ensures the layout adapts vertically and allows the footer to stay at the bottom of the page. 
*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    /* Set up a flexbox container */
    flex-direction: column;
    /* Stack child elements vertically */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    justify-content: flex-start;
}

html {
    background-image: url('../images/background.jpg');
    background-size: cover;
    /* Ensures the image covers the entire page */
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
}

/* 
Main content is set to flex: 1 to grow and take up the remaining space between the header and footer.
This ensures the footer remains at the bottom, even if there is minimal content.
*/
main {
    flex: 1;
    /* Grow and take up remaining space */
    padding: 10px;
    margin: 10px;
    width: 80%;
    /* Set width to 80% of the viewport */
}

header {
    width: 100%;
    text-align: center;
    font-size: larger;
    margin: 0;
}

header nav {
    background-color: lightgray;
    /* Example background color */
    text-align: center;
    /* Centers the text inside the nav */
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: orange;
}

figure img {
    width: 100%;
    height: auto;
    max-width: 1050px;
}

footer {
    display: flex;
    /* Set up a flexbox container */
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: orange;
}

a:visited {
    color: blue;
    /* Custom color for visited links */
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin: 0 5px;
}

.social-icons img {
    width: 25px;
    height: 25px;
}


li {
    font-size: 18px;
    margin: 15px 15px;
}

.education-list li img {
    display: block;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 0;
}