* {
    box-sizing: border-box; 
}

/* 
Make the html and body elements fill the entire window height and set up a flexbox container.
This ensures the layout adapts vertically and allows the footer to stay at the bottom of the page. 
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex; /* Set up a flexbox container */
    flex-direction: column; /* Stack child elements vertically */
}

/* 
Main content is set to flex: 1 to grow and take up the remaining space between the header and footer.
This ensures the footer remains at the bottom, even if there is minimal content.
*/
main {
    flex: 1; /* Grow and take up remaining space */
    padding: 10px;
    margin: 10px;
}

header {
    width: 100%;
    text-align: left;
    font-size: larger;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #007bff;
}


footer {
    display: flex; /* Set up a flexbox container */
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    width: 100%; 
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #f39c12;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin: 0 5px;
}

.social-icons img {
    width: 25px;
    height: 25px;
}

body {
    background-image: url('../images/background.jpg'); 
    background-size: cover;          /* Ensures the image covers the entire page */
    background-position: center;     
    background-repeat: no-repeat;    
    margin: 0;                      
    padding: 0;                      
}

.education-list li {
    font-size: 20px; 
    margin: 15px 15px; 
}

.education-list li img {
    display: block; /* 让图片独占一行 */
    width: 100px; /* 调整图片大小 */
    height: auto; /* 保持图片比例 */
    margin-bottom: 10px; /* 图片与文字之间的间距 */
    margin-left: 0; /* 左对齐 */
}
